@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;700&display=swap');
body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background-image: url("img/pokemon.jpg");
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: center;
}
header ul{
    display: flex;
    padding: 10px 10px 50px 10px;
}
li{
    list-style: none;
    margin: 5px 10px;
    color: rgb(255,255,255);
}
li:hover{
    color: rgb(191, 191, 191);
}
h1{
    font-size: 160px;
    font-weight: 700;
    margin: 0;
}
.poke{
    margin-top: 17vh;
    text-align: center;
}
.light{
    font-weight: 100;
    color: rgb(255,215,0);
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
footer ul{
    display: flex;
    padding: 30px;
}
footer li{
    color: rgb(255, 217, 0);
    text-decoration: none;
}
a{
    text-decoration: none;
}
.webs{
    width: 100px;
    height: 320px;
    background-color: rgb(255, 217, 0);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 15vh;
}
.web{
    width: 100%;
    height: 31.25%;
}
.web h2{
    margin: 1px;
    color: rgb(0,0,0);
}
#pinterest{
    margin-top: 5px;
}
.pikacha h2{
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 800px){
    .webs{
        display: none;
    }
    .poke h1{
        font-size: 20vw;
    }
    .poke{
        display: flex;
    }
    .pokedex{
        display: flex;
        flex-direction: column;
    }
}
.pokedex li{
    color: rgb(191, 191, 191);
    font-size: xx-large;
    font-weight: 500;
}
.pokedex li:hover{
    color: rgb(255, 255, 255);
}
h2{
    font-size: xx-large;
}




/* About page */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h2{
    margin: 0px;
}
.content{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    font-size: x-large;
    font-stretch: expanded;
    margin: 0px;
    padding-top: 10vh;
    padding-right: 20vw;
}
.logo{
    height: 40vh;
    display: flex;
    width: 60vw;
    display: flex;
    align-items: right;
    padding-top: 1vh;
    padding-bottom: 10vh;
    padding-left: 8vw;
}
.space{
    width: 100px;
}
.about h2{
    color: rgb(255, 217, 0);
}
.info{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 1000px){
    .info{
        display: flex;
        flex-direction: column;
    }
}
#tail{
    padding-top: 10vh;
}

/* explore page */
.head{
    height: 75px;
}
.other{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/ll.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.sight{
    height: 500px;
    width: 99vw;
    background-color: rgba(255, 255, 255,0.2);
    border: solid black 1px;
    height: 100vh;
    border-radius: 10px;
    margin-bottom: 5px;
}
.foot{
    position: relative;
}
.eeve{
    flex-basis: 31%; 
    background-image:url(img/eeve.jpg);
    height: 90vh;
    width: 90vw;
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-top: 2%;
    padding:50px 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.eeve:hover{
    box-shadow:0px 3px 8px #fff;
    transition:300ms;
}
#second{
    display: flex;
    flex-direction: row;
}
.elec{
    flex-basis: 31%; 
    background-image:url(img/pichu.png);
    height: 75vh;
    width: 90vw;
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-top: 2%;
    padding:50px 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 15vh;
}
.elec:hover{
    box-shadow:5px 4px 10px #f0f0f0;
;
    transition:300ms;
}
.mew{
    flex-basis: 31%; 
    background-image:url(img/mewto.jpeg);
    height: 75vh;
    width: 90vw;
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-top: 2%;
    padding:50px 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 15vh;
}
.mew:hover{
    box-shadow:5px 4px 10px #c204d0;
    transition:300ms;
}
.char{
    flex-basis: 31%; 
    background-image:url(img/charmander.jpg);
    height: 75vh;
    width: 90vw;
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-top: 2%;
    padding:50px 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 15vh;
}
.char:hover{
    box-shadow:5px 4px 10px #f9f355;
    transition:300ms;
}
@media only screen and (max-width: 1000px) {
    #second{
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    #third{
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    #poke{
        min-height: 300px;
        min-width: 200px;
    }
}
#third{
    height: 1000px;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    width: 20%;
    height: 100%;
}
.column img{
    width: 100%;
    height: 100%;
}





/* pikachu */
.pi-pika{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/Frank_Pikachu.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.pika-pika{
    height: 510px;
    width: 99vw;
    background-color: rgba(255, 255, 255,0.2);
    border: solid black 1px;
    height: 100vh;
    border-radius: 10px;
    margin-bottom: 5px;
}
.pika-fan{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 100px;
    padding-top: 10px;
    text-shadow: 4px 4px 4px rgb(1, 1, 1);
    background-color: rgba(6, 6, 6, 0.2);
}
.chaa{
    font-family: cursive;
    color: rgb(255,215,0);
    text-shadow: 4px 4px 4px rgb(1, 1, 1);
}
.pika-pika h2{
    padding-left: 10px;
    text-shadow: 4px 4px 4px rgb(1, 1, 1);
}
.gap{
    height: 50px;
}
.row1 .column{
    padding-top: 50px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 1000px){
    .pika-pika{
        height: fit-content;
    }
    .row1 .column{
        padding: 10px;
    }
}
@media only screen and (max-width: 592px){
    #pi{
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        height: 250vh;
        width: 250vw;
    }
    .gap{
        height: 100px;
        margin: 0;
    }
    .row1 .column{
        padding: 50px;
    }
    #cosplay{
        height: 2500px;
    }
}
.row1{
    display: flex;
    flex-direction: row;
}
.row1 .column{
    transition: transform 500ms;
}
.row1 .column:focus,
.row1 .column:hover{
    transform: scale(1.5);
    z-index: 1;
}
#raichu-pichu{
    height: fit-content;
}
.box{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(pi-pikachu/evolution-pika-removebg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* pokedex */
.back{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.structure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab td{
    padding: 30px;
}
.bold{
    font-size: 5vh;
    font-weight: 500;
}
.structure p{
    font-size: 3.5vh;
}
.tab:hover{
    color: rgb(0, 255, 183);
    transform: scale(1.01);
}

.welcome-box {
  position: fixed;           /* fixed ensures it stays in corner even when scrolling */
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9999;             /* ensures it stays above other elements */
}

.welcome-img {
  height: 150px;              /* medium size */
  width: auto;
}

.type-text {
  font-size: 22px;
  font-weight: bold;
  color:white;
  font-family: 'Segoe UI', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #222;
  animation: typing 1.5s steps(5, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 3ch }
}

@keyframes blink {
  50% { border-color: transparent }
}

.pokemon-list {
  color: #f0f0f0;

}


.pokemon-list a {
  color: white !important;
  text-decoration: none;
}

.pokemon-list a:hover {
  color: rgb(255, 217, 0);
}


.pikacha h2 {
  color: orange; /* or any bright contrasting color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* optional: makes it pop */
}
